<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<section class="view mt-6 mb-4">
    <div class="row">
        <div class="col-md-3 ml-1">
            <div class="promoBox info-box info-ribbon">
                <aside>
                    <p>5% off</p>
                </aside>
                <h4>June Exclusive</h4>
                <br>
                <p>With your faimly get the best services we have for the upcoming month</p>
            </div>

            <div class="promoBox warning-box danger-ribbon">
                <aside>
                    <p>10% off</p>
                </aside>
                <h4>Couple Exclusive</h4>
                <br>
                <p>With your partner get the best services we have for the upcoming month</p>
            </div>

            <div class="promoBox success-ribbon">
                <aside>
                    <p>50% off</p>
                </aside>
                <h4>Failmy Deal</h4>
                <br>
                <p>With your faimly get the best services we have for the upcoming month</p>
            </div>

            <div class="promoBox success-box info-ribbon">
                <aside>
                    <p>7% off</p>
                </aside>
                <h4>Summer Vacation</h4>
                <p>With your faimly get the best services we have for the upcoming month</p>
            </div>

            <div class="promoBox danger-box warning-ribbon">
                <aside>
                    <p>10% off</p>
                </aside>
                <h4>Winter Vacation</h4>
                <p>With your faimly get the best services we have for the upcoming month</p>
            </div>

            <div class="promoBox">
                <aside>
                    <p>20% off</p>
                </aside>
                <h4>Engagement Deal</h4>
                <br>
                <p>With your faimly get the best services we have for the upcoming month</p>
            </div>
            <div class="promoBox info-box info-ribbon">
                <aside>
                    <p>5% off</p>
                </aside>
                <h4>Failmy Deal</h4>
                <br>
                <p>With your faimly get the best services we have for the upcoming month</p>
            </div>
        </div>
        <div class="col-md-9 mr-n2">
            <div class="section_bg_gray">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="single_what_we_do">
                                <div class="top_line"></div>
                                <div class="what_we_do_figure">
                                    <img src="../../assets/Images_/PromotionsImages/appartments.png" alt="" class="img-responsive imgWH">
                                </div>
                                <h4 class="what_we_do_title">Apartments</h4>
                                <div class="what_we_do_content">Private kitchens Private bathroom(s) Common space for gathering Facilities for groups Great for long stays
                                </div>
                                <a class="what_we_do_icon" href="#">
                                    <i class="fa fa-angle-right"></i> </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="single_what_we_do">
                                <div class="top_line"></div>
                                <div class="what_we_do_figure">
                                    <img src="../../assets/Images_/PromotionsImages/Villas.jpg" alt="" class="img-responsive imgWH">
                                </div>
                                <h4 class="what_we_do_title">Private Villas</h4>
                                <div class="what_we_do_content">Shared or private pool Separate bedrooms Unique design and style 100% yours for total privacy High-end amenities
                                </div>
                                <a class="what_we_do_icon" href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="single_what_we_do">
                                <div class="top_line"></div>
                                <div class="what_we_do_figure">
                                    <img src="../../assets/Images_/PromotionsImages/bunglawos.jpg" alt="" class="img-responsive imgWH">
                                </div>
                                <h4 class="what_we_do_title">Bungalows</h4>
                                <div class="what_we_do_content">Unique yet affordable Integrated with the environment Close to the beach or nature Romantic escape Privacy

                                </div>
                                <a class="what_we_do_icon" type="button">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h4 class="py-4 text-center">Special Offers</h4>
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <!-- Card -->
                        <div class="card card-image hoverable" style="background-image: url('../../assets/Images_/PromotionsImages/buisness.jpg');">
                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                <div>
                                    <h5 class="yellow-text"><i class="fa fa-chart-pie"></i> Best Hotels</h5>
                                    <h3 class="card-title pt-2"><strong>Book Things to Do Worldwide!</strong></h3>
                                    <p>We offer over thousands of sightseeing tours and activities in hundreds of destinations worldwide.
                                    </p>
                                    <a class="btn btn-outline-yellow"><i class="fa fa-clone left"></i> View Appartments</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                        <!--/.Card-->
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <!-- Card Dark -->
                        <div class="card hoverable">
                            <!-- Card image -->
                            <div class="view overlay">
                                <img class="card-img-top" src="../../assets/Images_/PromotionsImages/bunglawos.jpg" alt="Card image cap">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!-- Card content -->
                            <div class="card-body elegant-color white-text rounded-bottom">
                                <!-- Social shares button -->
                                <!-- Title -->
                                <h4 class="card-title">Most Popular Villas</h4>
                                <hr class="hr-light">
                                <!-- Text -->
                                <p class="card-text white-text mb-4">Top Sellers: Our Most Popular Products & Activities
                                </p>
                                <!-- Link -->
                                <a href="#!" class="white-text d-flex justify-content-end">
                                    <h5>Read more <i class="fa fa-angle-double-right"></i></h5>
                                </a>
                            </div>
                        </div>
                        <!-- Card Dark -->
                        <!--/.Card-->
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <!--Card-->
                        <!--Card-->
                        <div class="card green darken-3 hoverable">
                            <!--Card image-->
                            <div class="view">
                                <img src="../../assets/Images_/PromotionsImages/villas1.jpg" class="card-img-top" alt="photo">
                                <a href="#">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Title-->
                                <h4 class="card-title white-text">New & Worth a Look</h4>
                                <!--Text-->
                                <p class="card-text white-text">We offer over thousands of sightseeing tours and activities in hundreds of destinations worldwide.</p>
                                <a href="#" class="btn btn-outline-white btn-md waves-effect">Read more</a>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                </div>
                <div class="card">
                    <!--Card image-->
                    <img class="card-img-top" src="../../assets/Images_/PromotionsImages/bg.jpg" alt="Card image cap">
                    <!--Card content-->
                    <div class="card-body">

                        <!-- Container -->
                        <div class="d-block d-md-flex">

                            <!-- Column -->
                            <div class="p-3 flex-1">

                                <h2 class="pb-3 font-weight-bold">Apartments</h2>
                                <p align="justify">have facilities which include some comfortable seating in the living room, a dining table and chairs in the kitchen or dining room; a stove, a microwave oven, two refridgerators and a freezer in the kitchen and a drying
                                    cupboard.
                                </p>

                            </div>
                            <!-- Column -->

                            <!-- Column -->
                            <div class="p-3 flex-1">

                                <h2 class="pb-3 font-weight-bold">Private Villas</h2>
                                <p align="justify">Located in the hills above Nice, in a secure gated community, this beautiful villa offers an amazing sea view. ... You go out directly onto the veranda and the terrace, to access the pool and the spa, overlooking the sea.
                                    A small hallway leads to the Guest room (double bed) and the lower floor.</p>

                            </div>
                            <!-- Column -->

                            <!-- Column -->
                            <div class="p-3 flex-1">

                                <h2 class="pb-3 font-weight-bold">Bungalows</h2>
                                <p align="justify">A bungalow is a one-story house, cottage or cabin. Bungalows are generally small in terms of square footage, but it is not uncommon to see very large bungalows. Bungalows were originally designed to provide affordable,
                                    modern housing for the working class</p>

                            </div>
                            <!-- Column -->

                        </div>
                        <!-- Container -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>