<body>
    <div id="pic" class="view">
        <div class="mask rgba-black-strong">
            <div class="container ">
                <div>
                    <!--Section: Contact-->
                    <section id="contact">

                        <!-- Heading -->
                        <h2 class="mb-5 font-weight-bold text-center white-text mt-3">Contact Us</h2>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-5 col-md-12">
                                <!-- Form contact -->
                                <form class="p-5 white-text">
                                    <div class="md-form form-sm"> <i class="fa fa-user prefix"></i>
                                        <input type="text" id="form3" class="form-control form-control-sm white-text">
                                        <label for="form3">Your name</label>
                                    </div>
                                    <div class="md-form form-sm"> <i class="fa fa-envelope prefix"></i>
                                        <input type="text" id="form2" class="form-control form-control-sm white-text">
                                        <label for="form2">Your email</label>
                                    </div>
                                    <div class="md-form form-sm"> <i class="fa fa-tag prefix"></i>
                                        <input type="text" id="form32" class="form-control form-control-sm white-text">
                                        <label for="form34">Subject</label>
                                    </div>
                                    <div class="md-form form-sm"> <i class="fa fa-pencil prefix"></i>
                                        <textarea type="text" id="form8" class="md-textarea form-control form-control-sm white-text" rows="4"></textarea>
                                        <label for="form8">Your message</label>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a class="btn btn-outline-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Send <i class="fa fa-paper-plane-o ml-1"></i></a>

                                    </div>
                                </form>
                                <!-- Form contact -->
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-7 col-md-12">

                                <!--Grid row-->
                                <div class="row text-center">

                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-12 mb-3">

                                        <p class="white-text"><i class="fa fa-map fa-1x mr-2 white-text"></i>Kuala Lumpur, KUL 50050</p>

                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-6 mb-3">

                                        <p class="white-text"><i class="fa fa-building fa-1x mr-2 white-text"></i>Mon - Fri, 8:00-22:00</p>

                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-6 mb-3">
                                        <p class="white-text"><i class="fa fa-phone fa-1x mr-2 white-text"></i>03-7741819</p>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Google map-->
                                <div class="map-responsive z-depth-1-half map-container mb-5">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="630" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> </div>

                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </section>
                    <!--Section: Contact-->
                </div>
            </div>
        </div>
    </div>
</body>